<div class="jumbotron"> 
	<div class="hidden-xs">
		<img src="styles/images/cloud.png" />
	</div>
</div> 

<div class="container-center container-small about">
	<h1> About GoVictoria </h1>

	<p>
		As university students, we often find ourselves sitting around with no ideas of what to do for fun. Because of this, we have decided to develop an activity and events app for the Victoria area. This app, called GoVictoria, is meant to give users ideas of different activities and events in the Victoria area that they could attend.
	</p>
	<a href="https://github.com/CakeBrewery/GoVictoria"><h2> GitHub </h2></a>
</div>
