


<div class="jumbotron"> 
	<div class="hidden-xs">
		<img src="styles/images/cloud.png" />
	</div>
</div> 





<div class="container">

	<div class="row">
		<!-- EVENTS -->

	     <div ng-repeat="event in events | filter: {id: currentId}">
  			  <div class="row">


			    <!--- Event information -->
			      <h3>{{event.name}}</h3> 
			      <p>{{event.description}}</p>

			  </div> 




	 


		<!-- MAP -->
		<div lass="row">


			<div class="col-xs-4">
			    <div class="event-image2" style="background-image:url({{event.img_url}}); background-size: cover; background-repeat: no-repeat; background-position: center;" >
			    </div> 
			</div>
			<div class="col-xs-8">
				<div class="map-container2" affix offset-top="185" container-class="" scroll-element-class="events-map">
					<div class="events-map"  events-map></div>
				</div>
			</div>


 
		</div>
	</div>





	</div>
</div>

