


<div class="jumbotron"> 
	<div class="hidden-xs">
		<img src="styles/images/cloud.png" />
	</div>
</div> 



<div class="event-description">

	<div ng-repeat="event in events | filter: {id: currentId}">


		<!-- Event Title -->
		<h1> {{event.name}} </h1>
		<h3> {{event.description}} </h3>
		<hr> 
		

		<div class="event-image2">
			<img ng-src={{event.img_url}}>
		</div>

		<hr>
		<h2> Times and Location </h2>


		<h3> {{event.location}}</h3>


			
			<div class="container-center container-small" padding="100px">

					<p></p>
					<div class="map-container" affix offset-top="185" container-class="row" scroll-element-class="events-map">
						<div class="events-map"  events-map></div>
					</div>
			</div>
		

		<p></p>





	</div>
</div>