


<div class="jumbotron"> 

  <div class="container-small">
	  <div class="input-group">

		<input type="text" class="form-control" placeholder="Search for Events...">
		<div class="input-group-btn">
		<button class="btn btn-default" type="button">&nbsp;&nbsp;Go!&nbsp;&nbsp;</button>
	    </div>

	  </div><!-- /input-group -->
  </div>


	<div class="hidden-xs">
		<img src="styles/images/cloud.png" />
	</div>
</div> 





<div class="container">
	<h4> Events In Our Catalog </h4>

	<div class="row">
		<!-- EVENTS -->
	    <div class="col-sm-8">
	        <event-card ng-repeat="event in events"></event-card>                    
	    </div>



		<!-- MAP -->
		<div class="col-sm-4">
			<div class="map-container" affix offset-top="185" container-class="row" scroll-element-class="events-map">
				<div class="events-map"  events-map></div>
			</div>
		</div>



	</div>
</div>

