


<div class="container"> 

	<div class="row"> 
		<div class="col-sm-12"> 
			<p> 
				Option 1     <span class="glyphicon glyphicon glyphicon-unchecked"></span> 
				Option 2     <span class="glyphicon glyphicon glyphicon-unchecked"></span> 
				Option 3     <span class="glyphicon glyphicon glyphicon-unchecked"></span> 
				Option 4     <span class="glyphicon glyphicon glyphicon-unchecked"></span> 


			</p> 
		</div> 
	</div> 
</div> 






<div class="row">

	<!-- MAP -->
	<div class="col-sm-4">
		<div class="map-container" affix offset-top="185" container-class="row" scroll-element-class="events-map">
			<div class="events-map"  events-map></div>
		</div>
	</div>

	<!-- EVENTS -->
    <div class="col-sm-8">
        <event-card ng-repeat="event in events"></event-card>                    
    </div>

</div>

