<div class="jumbotron" ng-controller="SurveyCtrl" ng-init="currentQuestion=1">

	<!-- Survey1 -->
	<div ng-hide="currentQuestion != 1">
	  <h1>There's Fun Around You </h1>
	  <p class="lead">
	    Find what's happening and go! 
	  </p>
	  <p><a class="btn btn-lg btn-success" ng-click="switchQuestion(2)"> Start Looking <span class="glyphicon glyphicon-ok"></span></a></p>
	</div> 

	<div ng-hide="currentQuestion != 2">
		<p> It looks like today is Sunny. If not Select today's weather conditions </p> 
		<p> --insert drop down menu with weather options here </p> 

		<p><a class="btn btn-lg btn-success" ng-click="switchQuestion(3)"> Next Question </a></p>


	</div> 


	<div ng-hide="currentQuestion != 3"> 
		<p> Just answer this four quick questions and you'll be ready to go! </p> 

		<p> 


	</div>



</div>

<div class="row marketing">
  <h4> Happening This Week</h4>
  <div ng-controller="EventsCtrl">
  	<event-card ng-repeat="event in events"></event-card>  
  </div>
</div>




We envision GoVictoria to work as follows. Users would open the app and be presented with a simple survey of 5 questions. The first question asks “What is the weather like today?” Users can select from 7 different weather conditions, including sunny, mostly sunny, cloudy, rainy, cold, warm, and average temperature. Next, users are presented with four statements, where they can select “agree”, “somewhat agree”, “somewhat disagree”, and “disagree.” The statements include “I like physical activities”, “I prefer spending time outdoors”, “I like art”, and “I like animals.” Users then submit their answers, and the app loads a page listing several activities or events in the Victoria area. The listings are based on users’ interests in regards to the survey results. Each listing includes a picture, short description of the activity or event, a price range, and a map and address. 
